.album-list-outter-container {
  width: 80%;
  margin: auto;
}

.text-album {
  margin: 0 0 20px 6%;
  color: rgb(87, 122, 115);
}

.no-album {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: rgb(87, 122, 115);
  margin-top: 10%;
}

.album-list-container {
  width: 100%;
  margin: auto;
  justify-content: space-around;
  flex-flow: row wrap;
  display: flex;
  align-items: initial;
}

.album-container {
  align-items: center;
  background-color: rgb(197, 214, 210);
  border-radius: 10px;
  border: solid 5px rgb(0, 0, 0, 0.1);
  color: white;
  display: flex;
  flex-flow: row wrap;
  height: 350px;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.album-image-container {
  border: solid 5px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 250px;
  width: 100%;
}

.album-image {
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.album-container p {
  margin: 10px 15px;
}

.album-name {
  font-weight: 700;
  font-size: 1em;
}

.album-artist {
  font-size: 0.8em;
}

.link-album {
  text-decoration: none;
}