:root {

  --wh: rgb(248, 245, 241);

  --lb: rgb(160, 226, 212, 0.6);
}

.album-track-list-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 100px auto;
  min-width: 480px;
  width: 75%;
}

.album-info-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  max-width: 300px;
  text-align: center;
}

.track-album-image {
  height: 250px;
  width: 250px;
}

.album-names {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  margin-bottom: 50px;
}

.track-list-container {
  background-image: linear-gradient(to right, var(--wh), var(--lb), var(--wh));
  border-bottom: solid 3px rgb(104, 156, 146, 0.5);
  border-top: solid 3px rgb(104, 156, 146, 0.5);
  margin-left: 50px;
  padding-top: 20px;
  width: 500px;
}

.track-container div {
  width: inherit;
}

.track-list-container div:first-child {
  border: none;
}

.track-list-container div:last-child {
  border: none;
}

.album-names p:first-child {
  font-size: 2em;
  margin: 0;
  margin-top: 40px;
}

.track-album-image img {
  height: 100%;
  width: 100%;
}

.track-container {
  align-items: center;
  background-image: linear-gradient(to right, var(--wh), var(--lb), var(--wh));
  border-bottom: solid 3px rgb(160, 226, 212, 0.4);
  border-radius: 50%;
  border-top: solid 3px linear-gradient(to right, var(--wh), var(--lb), var(--wh));
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  width: 400px;
}

.track-name-container {
  text-align: center;
}

.audio-container {
  align-items: center;
  display: flex;
}

.audio {
  width: inherit;
}

.favorite-checkbox {
  display: none;
}

.favorite-label {
  cursor: pointer;
  font-size: 1em;
}

.black-heart {
  color: black;
}

.red-heart {
  color: red;
}

@media only screen and ( max-width : 948px ) {

  .album-track-list-container {
    justify-content: center;
  }
}

@media only screen and ( max-width : 850px ) {

  .track-list-container {
    margin: 0;
  }
}
